<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
    </button>
    <span>Sweet Homie</span>
    <span class="example-spacer"></span>
    <a>
        <button href="" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <mat-icon>power_settings_new</mat-icon>
        </button>
    </a>


</mat-toolbar>